// VARIABLES

// FONTS
$proDisply: "SF Pro Display", "Arial", sans-serif;
$montserrat: "Montserrat", "Arial", sans-serif; 
$cerebri: "Cerebri Sans Pro", "Arial", sans-serif; 

// COLOR
$primary-color: #0061df; 
$white-color: #fff;
$text-color: #696969;
$secondary-color: #0d263b; 

// BACKGROUND COLOR
$white-bg-color: #fff;
$secondary-bg-color: #0d263b;