// GLOBAL STYLES
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white-bg-color;
}
.container {
    width: 100%;
    max-width: 1212px;
    margin: 0px auto;
    padding: 0px 1.6rem; 
} 

input {
    background-color: transparent;
    border: none;
    outline: none;
}   

button {
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
}